$blue: hsl(237, 18%, 59%);
$blue-dark: hsl(236, 21%, 26%);
$blue-darker: hsl(235, 16%, 14%);
$blue-darkest: hsl(234, 17%, 12%);
$red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);

$font-red-hat: "Red Hat Text", sans-serif;
